{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Categories</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>

                    </tr>
                </thead>
                <tbody>
                    {% for b in receiptcat %}
                    <tr>
                        <td>{{ b.name }}</td>
                        <td>{{ b.receipts.all|length }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock content %}
