{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Accounts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>

                    </tr>
                </thead>
                <tbody>
                    {% for a in account %}
                    <tr>
                        <td>{{ a.name }}</td>
                        <td>{{ a.number }}</td>
                        <td>{{ a.receipts.all|length }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock content %}
