{% extends 'base.html' %}

{% block content %}
    <header>
        <nav>

            {% if user.is_authenticated %}


            {% endif %}

        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>

                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>

                </thead>
                <tbody>
                    {% for i in receiptshow %}
                    <tr>
                        <td>{{ i.vendor }}</td>
                        <td>{{ i.total }}</td>
                        <td>{{ i.tax }}</td>
                        <td>{{ i.date|date:"m/d/y" }}</td>
                        <td>{{ i.category.name }}</td>
                        <td>{{ i.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock content %}
